* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

#main_menu ul {
    background: blue;
    margin: 0;
    padding: 0;
    text-align: center;
}

#main_menu li {
    display: inline-block;
    position: relative;
}

#main_menu li a {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: aliceblue;
}

#main_menu li a:hover {
    background-color: rgb(38, 38, 240);
    border: none;
}

/* Dropdown Menu Style */

#main_menu li ul {
    position: absolute;
    left: 0px;
    top: 84px;
    width: 119px;
    display: none;
}

#main_menu li ul li {
    display: block;
}

#main_menu li ul li a:hover {
    background: rgb(2, 2, 146);
    transition: calc(0.5);
}

#main_menu ul li:hover ul {
    display: block;
}